/* Font */

p {
    margin: 0;
}

.orbitron-text {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: #ffeef9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: #ababab;
    border: solid 5px #333;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 20px;
}

/* Screen area */

#display {
    background-color: #9fb09f;
    border: solid thin black;
    margin: 10px auto;
    margin-top: 30px;
    width: 80%;
}

#display-text {
    text-align: end;
    font-size: 2.8em;
    margin: 5px 2px;
    height: 1.5em;
    padding: 10px 20px
}

/* button area */
#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.calc-button {
    height: 67px;
    width: 15%;
    margin: 5%;
    border: solid 4px #131313;
    border-radius: 35%;
    font-weight: bold;
    font-size: 1.8em
}

.calc-button:hover {
    border-color: #f2f2f2;
}

.number {
    background-color: #f2f2f2;
    color: black;
}

.number:disabled {
    background-color: #6f6f6f;
    color: #494949;
}

.number:disabled:hover {
    border-color: #131313;
}

.operator {
    background-color: #01042b;
    color: #f2f2f2;
}

.active {
    border-color: #e6a800;
}

#clear {
    background-color: #bf1900;
    color: #f2f2f2;
}

#equals {
    background-color: #e6a800;
    color: #f2f2f2;
}

#back, #sign, #percent {
    background-color: #00c936;
    color: #f2f2f2;
    font-size: 2em;
}